# Local ignores
ignore
modd.conf

# OS/build/test generated 
.DS_Store
*test-report.json
*tests-report.json
node_modules
dist
out
index.js
cache
doc/MgvDoc.html
lcov.info
analytics/*.json
# broadcast files, ignore local deploys
broadcast/*
# ignore versioned deployment files
addresses/**/*.backup.json
addresses/deployed/local.json

# Personal
.env
.env.local
.vscode/settings.json
.env.*.local
*.code-workspace
.vscode

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Stil useful?
*-mumbai.sh
