# Workflow that syncs PR `Reviewers` and `Assignees`
# We do this in order to have PR's show up on the "personal" board in GitHub Projects (beta).
name: "Sync reviewers and assignees"
on:
  pull_request:
    types: [review_requested,review_request_removed,assigned,unassigned]

jobs:
  sync_reviewers_assignees:
    runs-on: ubuntu-latest
    steps:
    - uses: rubeus90/auto-sync-reviewer-assignee@v1.1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
